<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.halokonsultan.mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".HaloKonsultanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaloKonsultan"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.reviewconsultation.ReviewConsultation"
            android:exported="true" />
        <activity
            android:name=".ui.chooseconsultationtime.ChooseConsultationTimeActivity"
            android:exported="true" />
        <activity android:name=".ui.category.CategoryActivity" />
        <activity android:name=".ui.consultation.DetailConsultationActivity"
            android:exported="true"/>
        <activity android:name=".ui.uploaddocument.UploadDocumentActivity"
            android:exported="true"/>
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.consultant.ConsultantActivity" />
        <activity android:name=".ui.profile.EditProfileActivity" />
        <activity android:name=".ui.booking.BookingActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/splashScreenStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.chooselocation.ChooseLocationActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity
            android:name=".ui.auth.LandingActivity"
            android:theme="@style/Theme.HaloKonsultan.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/Theme.HaloKonsultan.NoActionBar"
            android:exported="true"/>
        <activity
            android:name=".ui.confirmation.ConfirmationActivity"
            android:theme="@style/Theme.HaloKonsultan.NoActionBar" />
        <activity android:name=".ui.payment.PaymentActivity"
            android:theme="@style/Theme.HaloKonsultan.NoActionBar"
            android:exported="true"/>
    </application>

</manifest>